<footer class="site-footer">
  <p class="text-center">{{ site.description }}</p>

<div id="socialLinks" style="text-align:center">
   <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}" class="socialLink"><i class="fa fa-twitter fa-2x"></i></a>
   <a target="_blank" href="https://linkedin.com/in/adamweitzman" class="socialLink"><i class="fa fa-linkedin fa-2x"></i></a>
   <a target="_blank" href="https://github.com/{{ site.github_username }}" class="socialLink"><i class="fa fa-github fa-2x"></i></a>
</div>

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="/main.js"></script>

</footer>
