<header class="site-header">



  <a class="site-title" href="{{ site.baseurl }}/">AW</a>

  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>


  <div class="menu">
    <ul>
      <a href="{{site.baseurl}}/about/index.html"><li>ABOUT</li></a>
      <a href="{{site.baseurl}}/projects/index.html"><li>PROJECTS</li></a>
      <a href="{{site.baseurl}}/blog/index.html"><li>BLOG</li></a>
      <a href="{{site.baseurl}}/adam-weitzman-resume-2016-v4.pdf"><li>RESUME</li></a>
    </ul>
  </div> 


</header>
