<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

<!--       <div class="trigger"> -->

		  <a class="page-link" href="{{site.baseurl}}/about/index.html">About</a>
          <a class="page-link" href="{{site.baseurl}}/projects/index.html">Projects</a>
          <a class="page-link" href="{{site.baseurl}}/blog/index.html">Blog</a>
          <a class="page-link" href="{{site.baseurl}}/adam-weitzman-resume-2016-v3.pdf">Resume</a>
<!--         
      </div> -->

    </nav>

  </div>

</header>
